.admin-page{
    position: relative;
}

.admin-page-separators{
    border:1px solid black;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 5%;
    margin-left: 22.5%;
    width: 60%;
}

.admin-page-separator{


    border-right: 1px solid black;
    
    width:20%;
}

.admin-page-separator-last{
    width:20%;
}

.admin-page-items{
    border:1px solid black;
    border-right: 0;
    display:flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 5%;
    margin-left:22.5%;
    width: 60%;
}

.add-item-button{
    margin: 3%;
}

.add-item-button-window{
    background: rgba(50,50,50,0.5);
    height:120%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index:100;
    
}

.add-item-button-window-banner{
    background-color: lightgray;
    height:50%;
    margin: 25%;
    margin-top: 10%;
    width: 50%;


}

.add-item-button-window-banner-input{

    margin-left:25%;
    margin-right: 25%;
    width: 50%;
}

.close-window-button{
    all:unset;

}
.close-window-button:hover{
    cursor: pointer;
}