body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.page-footer{
  background-color: rgb(95, 95, 95);
  display: flex;
  justify-content: center;
  height: 20%;
  width: 100%;
}



.page-items-container{
  height: 625px;
  width: 100%;
}




@keyframes slideIn {
  0%{
    transform:translateY(-100%);
  }

  100%{
  }
}